.MainHeader {
    background-color: #444444;
    width: 1200px;
    height: 38px;
}

/* .selectBox {
    display: flex;
    justify-content: center;
} */

.navibar {
    display: flex;
    list-style-type: none;
    float: right;
    margin-top: -35px;
}

.navibar li {
    margin-left: 10px;
}


